.hide {
    display: none;
}

button {
    background-color: red;
    color: white;
    height: 4em;
    width: 9em;
    border-radius: 8px;
    margin-left: 25px;
}

button:hover {
    background-color: rgba(224, 77, 77, 0.911);
}

.main-content {
    margin-top: 75px;
    text-align: center;
}

.timer {
    float: right;
}

.score {}

#choices {
    margin-top: 100px;
}