.hide {
    display: none;
}

button {
    background-color: red;
    color: white;
    height: 2.3em;
    width: 7em;
    border-radius: 8px;
}

button:hover {
    background-color: rgba(224, 77, 77, 0.911);
}

.main-content {
    margin-top: 75px;
    text-align: center;
}

.timer {
    float: right;
}

.score {
    widows: 20px;
}

#choices {
    background-color: green;
}

#questions {
    background-color: pink;
}